{% extends "web_dev/base.html" %}
{% load static %}

{% block title %}Image Gallery{% endblock %}

{% block content %}



<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Contact</h2>
        </div>
        <div class="col-12">
          <a href="index.html">Home</a>
          <a href="about.html">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->



<div class="container mt-5">
    <div class="text-center mb-5">
        <h1>Gallery</h1>
    </div>
    <ul class="nav nav-pills mb-3 justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'image_gallery' %}" style="background-color: #b98936;">All</a>
        </li>
        {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'category' category.id %}" style="transition: background-color 0.3s ease;">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="row">
        {% for image in images %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="image-container">
                    <img src="{{ image.image.url }}" class="card-img-top img-fluid" alt="{{ image.title }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ image.title }}</h5>
                    <p style="height: 60px; overflow: hidden; background-color: #b98936; color: white; padding: 10px; border-radius: 5px;" class="card-text">{{ image.description }}</p>
                    <form method="post" action="{% url 'upload_delete_images' %}">
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{ image.id }}">
                        <!-- <button type="submit" class="btn btn-danger" name="delete">Delete</button> -->
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .image-container {
        height: 500px; /* Increased height for the image container */
        overflow: hidden;
    }
    .image-container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .nav-link:hover {
        background-color: #b98936; /* Change background color on hover */
        color: white; /* Change text color on hover */
    }
</style>

{% endblock %}
