{% extends "web_dev/base.html" %}
{% load static%}
{% block title %}About{% endblock %}

{% block content %}


      <!-- Page Header Start -->
      <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>About Us</h2>
                </div>
                <div class="col-12">
                    <a href="index.html">Home</a>
                    <a href="about.html">About Us</a>
                </div>
            </div>
        </div>
      </div>
      <!-- Page Header End -->

<!-- About Page Start -->
<div class="container-fluid bg-light about-page py-5">
  <div class="container py-5">
      <div class="row g-4">
          <div class="col-lg-6">
              <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                  <div class="service-content text-end">
                      <h5 class="text-custom mb-4">Our Mission</h5>
                      <p class="mb-0">At CipherKnights, our mission is to empower individuals and businesses through innovative and reliable solutions. We are dedicated to providing exceptional web development services, comprehensive cyber security training, academic project assistance, high-quality accessories, and top-notch video and photo editing. Our goal is to help our clients achieve their objectives with ease and efficiency.</p>
                  </div>
                  <div class="service-icon p-4">
                      <i class="fa fa-home fa-4x text-custom"></i>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                  <div class="service-content text-end">
                      <h5 class="text-custom mb-4">Our Vision</h5>
                      <p class="mb-0">Our vision is to be a leading provider of digital solutions and educational resources, known for our commitment to excellence, innovation, and customer satisfaction. We aspire to create a safer, more connected, and more visually stunning online world by equipping our clients with the tools and knowledge they need to thrive. Through continuous improvement and a client-centric approach.</p>
                  </div>
                  <div class="service-icon p-4">
                      <i class="fa fa-globe fa-4x text-custom"></i>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                  <div class="service-icon p-4">
                      <i class="fa fa-pencil-square-o fa-4x text-custom"></i>
                  </div>
                  <div class="service-content">
                      <h5 class="text-custom mb-4">Who We Are</h5>
                      <p class="mb-0">CipherKnights is a dynamic and forward-thinking company specializing in a range of digital services. Our team consists of experienced professionals who are passionate about technology and education. We pride ourselves on our ability to adapt to the ever-evolving digital landscape and deliver solutions that are not only effective but also innovative and tailored to our clients' needs. Our expertise spans web development, cyber security, academic support, accessories sales, and multimedia editing, making us a one-stop shop for all your digital needs.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                  <div class="service-icon p-4">
                      <i class="fa fa-book fa-4x text-custom"></i>
                  </div>
                  <div class="service-content">
                      <h5 class="text-custom mb-4">Online Courses</h5>
                      <p class="mb-0">In addition to our suite of services, CipherKnights offers a variety of online courses designed to equip you with the skills and knowledge necessary to excel in today's digital world. Our courses cover key areas such as cyber security, networking, ethical hacking, and more. Each course is crafted by industry experts and provides practical, hands-on learning experiences. Whether you're a beginner looking to start a new career or a professional seeking to enhance your skills, our online courses offer flexible and accessible learning opportunities to help you achieve your goals. Reach us today at: <a href="mailto:support@cipherKnights.com" class="email-link">support@cipherKnights.com</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About Page End -->


{% endblock %}