<!-- web_dev/templates/web_dev/display_videos.html -->

{% extends "web_dev/base.html" %}
{% load static %}

{% block title %}Gallery{% endblock %}

{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Gallery</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'upload_video' %}">Upload Videos</a>
                <a href="{% url 'delete_videos' %}">Delete Videos</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<div class="container-fluid" style="background-color: #f8f9fa;">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="owl-carousel owl-gallery">
                {% for video in videos %}
                <div class="item">
                    <div class="card my-5">
                        <div class="card-header" style="background-color: #b98936;">
                            <h2 class="text-center">{{ video.title }}</h2>
                        </div>
                        <div class="card-body">
                            <div class="video-container">
                                <video controls poster="{{ video.poster_image.url }}">
                                    <source src="{{ video.video_file.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <p>{{ video.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
