{% extends "web_dev/base.html" %}
{% load static %}
{% block title %}Gallery{% endblock %}

{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Gallery</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'upload_delete_videos' %}">Upload and Delete Videos</a>
                <a href="{% url 'gallery' %}">Gallery</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container mt-5">
    <div class="text-center mb-5">
        <h1>Gallery</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row">
                {% for video in videos %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header text-center" style="background-color: #b98936; color: white;">
                            <h5 class="card-title m-0">{{ video.title }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="video-container mb-3">
                                <video controls poster="{{ video.poster_image.url }}" class="img-fluid">
                                    <source src="{{ video.video_file.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <p class="card-text" style="height: 60px; overflow: hidden; background-color: #b98936; color: white; padding: 10px; border-radius: 5px;">
                                {{ video.description }}
                            </p>
                            <form method="post" action="{% url 'upload_delete_videos' %}">
                                {% csrf_token %}
                                <input type="hidden" name="video_id" value="{{ video.id }}">
                                <!-- <button type="submit" class="btn btn-danger" name="delete">Delete</button> -->
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<style>
    .video-container {
        height: 300px; /* Adjust height as needed */
        overflow: hidden;
    }
    .video-container video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
</style>

{% endblock %}
