{% extends "web_dev/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- Carousel Start -->
<div class="carousel-header">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExample" data-bs-slide-to="3"></li>
            <li data-bs-target="#carouselExample" data-bs-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="{% static 'img/website.jpg' %}" class="img-fluid" alt="Web Development">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h2 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Web Development Services</h2>
                        <p class="mb-5 fs-5">Unlock the potential of your online presence with our expert web development services. From intuitive design to robust functionality, we create websites that leave a lasting impression.</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="{% url 'request_demo' %}">Request a Demo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/control-center.jpg' %}" class="img-fluid" alt="Training">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h2 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Web Security</h2>
                        <p class="mb-5 fs-5">In the digital age, your website is the front line of your business. Ensuring its 
                            security is not just a necessity; it’s a fundamental aspect of protecting your brand, data, and customers.</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="{% url 'contact' %}">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/d2.jpg' %}" class="img-fluid" alt="Academic Project Assistance">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h2 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Academic Project Assistance</h2>
                        <p class="mb-5 fs-5">Get ahead in your academic journey with our dedicated support for final year projects and assignments. We provide guidance and resources to help you excel and achieve your academic goals.</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="{% url 'contact' %}">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/d4.png' %}" class="img-fluid" alt="Video and Photo Editing Services">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h2 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Expert Web Design Services</h2>
                        <p class="mb-5 fs-5">In today’s digital landscape, your website is often the first impression potential customers have of your business. A well-designed website can captivate visitors, 
                            convey your brand’s message, and convert leads into loyal customers.</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="{% url 'contact' %}">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/d7.png' %}" class="img-fluid" alt="Accessories for Sale">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h2 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Exceptional Graphic Design</h2>
                        <p class="mb-5 fs-5">In today's visually driven world, the power of compelling graphic design cannot be overstated. 
                            It's more than just aesthetics—it's about creating a visual identity that resonates, communicates, and engages.</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="{% url 'contact' %}">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn bg-primary" aria-hidden="false"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon btn bg-primary" aria-hidden="false"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

<!-- Feature Start -->
<div class="feature-top py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="feature-item p-4 border rounded" style="background-color: #b98936;">
                    <h3 class="text-white">SEO-Friendly</h3>
                    <p class="text-white">100% Optimized Content</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="feature-item p-4 border rounded" style="background-color: #b98936;">
                    <h3 class="text-white">User Experience</h3>
                    <p class="text-white">100% Intuitive Navigation</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="feature-item p-4 border rounded" style="background-color: #b98936;">
                    <h3 class="text-white">Maintenance</h3>
                    <p class="text-white">100% Ongoing Support</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="feature-item p-4 border rounded" style="background-color: #b98936;">
                    <h3 class="text-white">Aesthetics</h3>
                    <p class="text-white">100% Visual Appeal</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

<!-- Service Start -->
<div class="service py-5">
    <div class="container">
        <div class="section-header text-center mb-5">
            <h2 style="color: #b98936;">Our Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item p-4 text-center border rounded bg-light">
                    <div class="service-icon mb-3">
                        <i class="fa fa-cog fa-2x" style="color: #b98936;"></i>
                    </div>
                    <h3 class="text-dark">Web Development Services</h3>
                    <p class="text-muted">
                        In today’s digital world, a well-designed and functional website is crucial for your business's success.
                    </p>
                    <a class="btn btn-primary" href="{% url 'web_development' %}" style="background-color: #b98936; border: none;">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item p-4 text-center border rounded bg-light">
                    <div class="service-icon mb-3">
                        <i class="fa fa-users fa-2x" style="color: #b98936;"></i>
                    </div>
                    <h3 class="text-dark">Company Logo Design</h3>
                    <p class="text-muted">
                        A company logo is more than just a visual mark; it’s a symbol that represents your brand identity and communicates your values to your audience.
                    </p>
                    <a class="btn btn-primary" href="{% url 'web_development' %}" style="background-color: #b98936; border: none;">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item p-4 text-center border rounded bg-light">
                    <div class="service-icon mb-3">
                        <i class="fa fa-pencil-square-o fa-2x" style="color: #b98936;"></i>
                    </div>
                    <h3 class="text-dark">Graphic Design</h3>
                    <p class="text-muted">
                        Graphic design is an investment in your brand's future. Let us help you create a lasting impression with visuals that captivate and convert. 
                    </p>
                    <a class="btn btn-primary" href="{% url 'web_development' %}" style="background-color: #b98936; border: none;">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item p-4 text-center border rounded bg-light">
                    <div class="service-icon mb-3">
                        <i class="fa fa-graduation-cap fa-2x" style="color: #b98936;"></i>
                    </div>
                    <h3 class="text-dark">Academic Project Assistance</h3>
                    <p class="text-muted">
                        With our dedicated academic project assistance, you can excel and achieve your academic goals. We deliver on time and never disappoint, we have the neccessary materials.
                    </p>
                    <a class="btn btn-primary" href="{% url 'school_project' %}" style="background-color: #b98936; border: none;">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item p-4 text-center border rounded bg-light">
                    <div class="service-icon mb-3">
                        <i class="fa fa-laptop fa-2x" style="color: #b98936;"></i>
                    </div>
                    <h3 class="text-dark">Web Design Services</h3>
                    <p class="text-muted">
                        A professionally designed website is an investment in your business’s future. It enhances your online presence, attracts potential customers, and drives business growth.
                    </p>
                    <a class="btn btn-primary" href="{% url 'sale_of_accessories' %}" style="background-color: #b98936; border: none;">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item p-4 text-center border rounded bg-light">
                    <div class="service-icon mb-3">
                        <i class="fa fa-lock fa-2x" style="color: #b98936;"></i>
                    </div>
                    <h3 class="text-dark">Web Security Service</h3>
                    <p class="text-muted">
                        Don’t wait until it’s too late. Protect your website, your data, and your brand with our comprehensive web security services. With us, you can rest easy knowing that your digital presence is secure.
                    </p>
                    <a class="btn btn-primary" href="{% url 'design' %}" style="background-color: #b98936; border: none;">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->




<!-- Banner Section Start-->
<div class="container-fluid banner my-5" style="background-color: #b98936;">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6">
                <div class="py-4">
                    <h1 class="display-3 text-white">Website samples</h1>
                    <p class="fw-normal display-3 text-dark mb-4">CipherKnights</p>
                    <p class="mb-4 text-dark">We specialize in creating stunning, high-performing websites tailored to your business needs. Our team of experienced developers and designers is dedicated to delivering 
                        cutting-edge solutions that drive engagement, boost conversions, and enhance your brand's digital footprint.</p>
                    <a href="#" class="btn btn-outline-light rounded-pill text-dark py-3 px-5">Choose your Sample</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img src="{% static 'img/domain.jpg' %}" class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->



      {% endblock %}