{% extends "web_dev/base.html" %}
{% load static%}
{% block title %}Video and photo editing{% endblock %}

{% block content %}

      <!-- Page Header Start -->
      <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>About Us</h2>
                </div>
                <div class="col-12">
                    <a href="index.html">Home</a>
                    <a href="about.html">About Us</a>
                </div>
            </div>
        </div>
      </div>
      <!-- Page Header End -->


{% endblock %}