{% extends "web_dev/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Profile</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'profile' %}">Gallery</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<div class="container-fluid" style="background-color: #f8f9fa;">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card my-5">
                <div class="card-header" style="background-color: #b98936;">
                    <h2 class="text-center">Profile</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>Username:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p>{{ user.username }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>First Name:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p>{{ user.first_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>Last Name:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p>{{ user.last_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>Email:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>Phone:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p>{{ user.phone }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>Address:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p>{{ user.address }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>City, Postcode:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p>{{ user.city }}, {{ user.postcode }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>Country:</h5>
                        </div>
                        <div class="col-sm-8">
                            <p>{{ user.country }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <a href="{% url 'update_profile' %}" class="btn btn-primary">Update Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
