{% extends "web_dev/base.html" %}
{% load static%}
{% block title %}Sale of Accessories{% endblock %}

{% block content %}

      <!-- Page Header Start -->
      <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Web Design Services</h2>
                </div>
                <div class="col-12">
                    <a href="index.html">Home</a>
                    <a href="about.html">Web Design</a>
                </div>
            </div>
        </div>
      </div>
      <!-- Page Header End -->



      <!-- Start service Area -->
<section class="service-area section-gap" id="service" style="background-color: #f9f9f9;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-20 header-text">
                <h2 class="text-custom">Transform Your Digital Presence with Our Expert Web Design Services</h2>
                <div class="mt-4">
                    <p>In today’s digital landscape, your website is often the first impression potential 
                        customers have of your business. A well-designed website can captivate visitors, 
                        convey your brand’s message, and convert leads into loyal customers.</p>
                    <a class="btn btn-primary text-uppercase" href="{% url 'contact' %}">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service text-center">
                    <img class="img-fluid mx-auto d-block rounded" src="{% static 'img/d1.jpg' %}" style="max-width: 100px;" alt="">
                    <h4><span class="lnr lnr-user"></span>Stunning Visual Appeal</h4>
                    <p>
                        We create visually stunning websites that leave a lasting impression. Our designs are not only aesthetically pleasing but also reflect 
                        your brand’s identity, ensuring a cohesive and professional look that resonates with your target audience.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service text-center">
                    <img class="img-fluid mx-auto d-block rounded" src="{% static 'img/d2.jpg' %}" style="max-width: 100px;" alt="">
                    <h4><span class="lnr lnr-license"></span>User-Centric Design</h4>
                    <p>
                        Our web design approach prioritizes the user experience. We craft intuitive, easy-to-navigate websites that provide visitors with a 
                        seamless journey, from landing page to checkout. This ensures higher engagement.
                    </p>                                
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service text-center">
                    <img class="img-fluid mx-auto d-block rounded" src="{% static 'img/d3.jpg' %}" style="max-width: 100px;" alt="">
                    <h4><span class="lnr lnr-phone"></span>Responsive Design</h4>
                    <p>
                        With the increasing use of mobile devices, having a responsive website is essential. Our designs are fully optimized for all screen 
                        sizes, ensuring that your website looks and functions perfectly on desktops, tablets, and smartphones.
                    </p>                                
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service text-center">
                    <img class="img-fluid mx-auto d-block rounded" src="{% static 'img/d4.png' %}" style="max-width: 100px;" alt="">
                    <h4><span class="lnr lnr-rocket"></span>SEO-Friendly Design</h4>
                    <p>
                        A beautiful website is useless if it can’t be found. We incorporate SEO best practices into our design process, ensuring your website
                         is optimized for search engines. This helps improve your visibility and attract organic traffic.
                    </p>                
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service text-center">
                    <img class="img-fluid mx-auto d-block rounded" src="{% static 'img/d5.jpg' %}" style="max-width: 100px;" alt="">
                    <h4><span class="lnr lnr-diamond"></span> Innovative and Modern Design Trends</h4>
                    <p>
                        We stay ahead of the curve with the latest design trends and technologies. From parallax scrolling to dynamic content, we incorporate innovative 
                        features that enhance the user experience.
                    </p>                                
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service text-center">
                    <img class="img-fluid mx-auto d-block rounded" src="{% static 'img/d6.jpg' %}" style="max-width: 100px;" alt="">
                    <h4><span class="lnr lnr-bubble"></span>Custom Solutions</h4>
                    <p>
                        Every business is unique, and so are its web design needs. We offer custom web design solutions tailored to your specific 
                        requirements, ensuring that your website stands out in a crowded digital marketplace.
                    </p>                                    
                </div>
            </div>                      
        </div>
    </div>  
</section>
<!-- End service Area -->



{% endblock %}