{% extends "web_dev/base.html" %}
{% load static%}
{% block title %}Training{% endblock %}

{% block content %}





      <!-- Page Header Start -->
      <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Cyber Security Training</h2>
                </div>
                <div class="col-12">
                    <a href="index.html">Home</a>
                    <a href="about.html">Training</a>
                </div>
            </div>
        </div>
      </div>
      <!-- Page Header End -->




<!-- Start video-sec Area -->
<section class="video-sec-area section-gap" id="about">
    <div class="container" id="training1">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <h6 class="text-uppercase">Enroll with CipherKnights Academy Today</h6>
                <h1 class="display-4">Premier Cyber Security Training</h1>
                <p class="lead"><span>Don’t wait to elevate your career in cyber security</span></p>
                <p>Invest in your future by enrolling in CipherKnights Academy’s cybersecurity training programs. Whether you’re an 
                    individual looking to boost your career or an organization aiming to enhance your team’s security expertise, 
                    we have the right courses for you. Contact us today to learn more and take the first step 
                    towards becoming a cybersecurity expert.</p>
                <a class="btn btn-primary btn-lg" href="{% url 'register' %}">Get Started now</a>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center position-relative">
                <div class="overlay overlay-bg"></div>
                <a class="play-btn" href="#">
                    <img src="{% static 'img/play-icon.png' %}" class="img-fluid" alt="">
                </a>
                <img src="{% static 'img/training-1.jpg' %}" class="img-fluid w-100 rounded" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End video-sec Area -->



<!-- Start top-course Area -->
<section class="top-course-area section-gap" style="background-color: #f2f2f2;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-20 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10 text-custom">Secure Your Future with CipherKnights Academy</h1>
                    <p>In today’s digital age, cybersecurity is more crucial than ever. At CipherKnights Academy, we understand 
                        the importance of equipping individuals and organizations with the knowledge and skills to protect against 
                        cyber threats. We offer a comprehensive range of courses designed to provide you with the expertise 
                        needed to excel in the field of cybersecurity. Here’s why CipherKnights Academy is your best choice for online training:</p>
                </div>
            </div>
        </div>                  
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 course-left">
                <div class="single-course text-center">
                    <span class="lnr lnr-rocket icon-top"></span>
                    <a href="#" class="text-custom"><h4>Expert Instructors</h4></a>
                    <p>
                        Our courses are taught by seasoned professionals with extensive experience in the cybersecurity industry. They bring 
                        real-world knowledge and insights to the classroom, ensuring you receive the most up-to-date and practical training.
                    </p>
                </div>
                <div class="single-course text-center">
                    <span class="lnr lnr-cog icon-top"></span>
                    <a href="#" class="text-custom"><h4>Comprehensive Curriculum</h4></a>
                    <p>
                        We offer a wide range of courses covering all aspects of cybersecurity, from the basics to advanced topics. 
                        Whether you’re just starting out or looking to deepen your expertise, our curriculum is designed to meet your needs.
                    </p>
                </div>                          
            </div>
            <div class="col-lg-6 course-middle">
                <img class="img-fluid mx-auto d-block rounded" src="{% static 'img/cyber-security.jpg' %}" alt="">
            </div>
            <div class="col-lg-3 course-right">
                <div class="single-course text-center">
                    <span class="lnr lnr-apartment icon-top"></span>
                    <a href="#" class="text-custom"><h4>Flexible Learning Options</h4></a>
                    <p>
                        Our online training programs are designed to fit your busy schedule. Learn at your own pace with access to 
                        our extensive library of course materials, interactive modules, and live sessions. Study from anywhere in the world, anytime.


                    </p>
                </div>
                <div class="single-course text-center">
                    <span class="lnr lnr-phone icon-top"></span>
                    <a href="#" class="text-custom"><h4>Hands-On Experience</h4></a>
                    <p>
                        At CipherKnights Academy, we believe in learning by doing. Our courses include practical exercises, labs, and real-world 
                        scenarios to help you apply what you’ve learned. Gain the hands-on experience necessary to tackle real cybersecurity challenges. 
                    </p>
                </div>                                                      
            </div>
        </div>
    </div>  
</section>
<!-- End top-course Area -->




{% endblock %}